---
layout: base.njk
nav:
  - title: Home
    description: Home Page and About
    url: /
  - title: Blog
    description: Blog
    url: /blog
  - title: Projects
    description: Projects
    url: /projects
---

{{ content | safe }}